<<<<<<< HEAD
<h1>
  <%= @video.title %>
</h1>

<p>
  <%= @video.description %>
</p>

<p>
  <%= @video.author %>
</p>


<iframe width="560" height="315" src="<%= @video.youtube_url %>" frameborder="0" allowfullscreen></iframe>  
=======


<div class="container">
    <div class="row">
    
        <div class="col-md-8">
        <h1><%= @video.title %></h1>
            <iframe width="100%" height="500" src="//www.youtube.com/embed/TYMkHtoRUbw" frameborder="0" allowfullscreen></iframe>


        </div>

        <div class="col-md-4">

            <h1>Details</h1>
            <ul>
                <li><%= @video.title %></li>
                <li><%= @video.author %></li>
                <li><%= link_to "Author Website", @video.author_url, target: "_blank" %></li>
                <li><%= @video.description %></li>
            </ul>

        </div>


    </div>
</div>
>>>>>>> add in new and show pages for videos
