<div class="container">
    <div class="row">
    
        <div class="col-md-6">
        <h1><%= @video.title %></h1>
            <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.youtube_id %>?modestbranding=1&amp;rel=0&amp;showinfo=0&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
        

        <div class="col-md-6">

            <h1>Details</h1>
            <ul>
                <li>Title: <%= @video.title %></li>
                <li>Author: <%= @video.author %></li>
                <li>Description: <%= @video.description %></li>
                <p>Categories:</p>
                <% @video.categories.each do |category| %>
                    <li><%= category.name %></li>
                <% end %>
                
                <li><%= link_to "Author Website", @video.author_url, target: "_blank" %></li>
            </ul>
            <p>
                <%= link_to "Edit", edit_video_path %>
                <%= link_to "Destroy", @video, method: :delete, data: { confirm: "Are you sure?" } %>
                </p>

        </div>

    </div>
</div>