<div class="container padded">
  <div class="row">
  <h1><%= @category.name %> Videos</h1>

  <div class="row">
      <div class="col-md-12 buttonspace">
        <% if user_signed_in? %>
        <%= link_to "Add a New Screencast", new_video_path, class: "btn btn-primary"%><br>
        <% end %>
      </div>


      <% @videos.each do |video| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag(video.categories.first.image.url) %>
            <div class="caption">
              <h3><%= link_to video.title, video %></h3>
                <p><%= video.description %></p>
                <p><%= link_to "Edit", edit_video_path %></p>
                <p><%= link_to "Delete", video, method: :delete, data: { confirm: "Are your sure?" }%></p>

            </div>
        </div>  
      </div>
      <% end %>
    </div>
    </div>
  </div>