<!DOCTYPE html>
<html>
<head>
  <title>Tech Teacher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//www.fuelcdn.com/fuelux/3.4.0/css/fuelux.min.css" rel="stylesheet">

</head>
<body class="fuelux">

<%= render 'layouts/navbar' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'layouts/footer' %>

<script src="//www.fuelcdn.com/fuelux/3.4.0/js/fuelux.min.js"></script>

</body>
</html>
